    body{
      background-color:white;
      color: black;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    header{
      border:1px #454343 solid;
      padding: 18px 174px;
      margin: 0px 0px;
      background-color: #454343;
      border-radius: 0px;
    }
    .horz1{
      position: absolute;
      left:35px;
      top:21px;
    }
    .horz1 p{
      position: absolute;
      left:73px;
      top: -25px;
      font-size: 35px;
      color: white;
    }
    #horz3{
      position: absolute;
      right:45px;
      top:34px;
    }
    .horz2{
      display: fixed;
      width: 70%;
      margin:0px auto;
      padding:0px;
      font-size: 20px;
    }
    .horz2 li{
      list-style: none;
      display: inline;
      padding-left:30px;
    }
    .horz1 img{
      width: 60px;
      height: 61px;
    }
    .horz2 li a{
      text-decoration: none;
      color: white;
    }
    #horz3 input{
      border-radius: 12px;
      text-align: center;
      width: auto;
      height: 23px;
      border: 0px transparent solid;
    }
    #horz3 button{
      color:white;
      background-color: #454343;
      border-radius: 12px;
      width: auto;
      height: 23px;
    }
    .poster img{
      width:200px;
      height: 300px;
    }
    .ver{
      float:left;
      min-height: 1500px;
      width: 20%;
      box-sizing: border-box;
    } 
    .main {
      position: absolute;
      width: 70%;
      box-sizing: border-box;
      border: 2px solid grey;
      float: left;
      color: white;
    }
    .movie{
      float: left;
    }
    .title{
      position: relative;
      top: -71px;
      left: 20px;
      width: 200px;
      background-color: black;
      height: 66px;
      color: white;
      opacity: 0.7;
      text-align: center;
      margin: 0px;
      font-size: 18px;
    }
    .poster{
      padding: 10px 20px;
      padding-bottom: 0px;
    }
    .ver{
      text-align: center;
      width: 15%;
      box-sizing: border-box;
      display: inline-block;
      float: left;
    }
    .ver ul{
      padding-left: 0px;
    }
    .ver li{
      list-style: none;
      box-sizing: border-box;
      padding: 30px 0px;
    }
    .ver li a{
      text-decoration: none;
      font-size: 25px;
       color:black;
    }
    .ver li a:hover{
      padding-left:10px;
      font-size: 30px;
    }
    .poster img:hover{
      opacity: 0.7;
    }